@import "../style.scss";

footer {
  // clear: both;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

@media (max-width: 1000px) {
  body {
    // reserve space for footer
    padding-bottom: 110px !important;
  }
}

.inner-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding: 6px;
  background-color: $color-surface-0;

  @media (max-width: 1000px) {
    & {
      flex-flow: column wrap;
    }

    #footer-dot {
      display: none;
    }
  }

  p {
    margin: 6px;
  }

  a {
    text-decoration: none;
    color: $color-primary;
    transition: .2s;

    @media (hover: hover) {
      &:hover {
        color: $color-blue;
      }
    }
  }
}

