@import "../style.scss";

header {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10%;
  background-color: $color-surface-0;
  margin-bottom: 30px;
}

.header-a-logo {
  margin-right: auto;
}

.header-logo {
  width: 80px;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link {
  color: $color-text;
  // font-family: "JetBrains Mono", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 15pt;
  transition: .3s;

  @media(hover: hover) {
    &:hover {
      color: $color-primary;
    }
  }

  display: flex;
  align-items: center;
}


li {
  list-style: none;
}
