@import "../style.scss";

.requests {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.request {
  background-color: $color-surface-0;
  max-width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;


  textarea {
    width: 100%;
    padding: 10px;
    background-color: $color-surface-1;
    color: $color-text;
    resize: none;
    border: none;
    border-radius: 10px;
    height: auto;
  }

  .top {
    display: flex;
    gap: 10px;
    font-size: 15pt;
    height: fit-content;
    margin-bottom: 10px;
  }

  .list {
    margin-top: 10px;
    margin-bottom: 20px;

    li {
      margin-top: 5px;
      margin-bottom: 5px;
      list-style: circle;
      margin-left: 20px;
      overflow-wrap: break-word;
    }

    h3 {
      display: flex;
      flex-flow: row wrap;
      align-content: center;
      gap: 5px;
    }
  }

  .http-type {
    color: $color-primary;
    font-weight: bold;
  }

  .http-url {
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  h3 {
    margin: 0;
  }
}
