@import "../../style.scss";

button {
  cursor: pointer;
  transition: .2s;
  background-color: $color-primary;
  color: $color-background;

  @media (hover: hover) {
    &:hover {
      color: $color-text;
      background-color: $color-surface-1;
    }
  }

  &:disabled {
    background-color: $color-background;
    color: $color-text;
  }
}

.button-send {
  width: 100%;
}
