@import "../../style.scss";

input {
  background-color: $color-surface-0;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  color: $color-text;
  font-size: 15pt;
  min-width: 200px;
}

button[type="submit"] {
  border: none;
  border-radius: 10px;
  font-size: 16pt;
  padding: 10px;
}
