<script setup>
  import json from "../../package.json"; 
</script>

<template>
  <footer>
    <div class="inner-footer">
      <p>© Copyright 2022-2023 reŠOL</p>
      <span id="footer-dot">&nbsp;&middot;&nbsp;</span>
      <p>Kód licencovaný pod <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a>&nbsp;&middot;&nbsp;<a target="_blank" href="https://codeberg.org/resol">Codeberg</a></p>
      <span id="footer-dot">&nbsp;&middot;&nbsp;</span>
      <p>{{ json.name }} {{ json.version }}</p>
    </div>
  </footer>
</template>
