<script setup>
  import { Icon } from '@iconify/vue';
  import { logout } from "../modules/Login.vue.ts";
  import { isAuthenticated } from '../modules/authentication';
  import { store, loginData } from '../store';
</script>

<template>
  <header>
    <a href="/#/dashboard" class="header-a-logo">
      <img class="header-logo" src="../../public/resol.svg" alt="logo">
    </a>
    <nav>
      <ul class="nav-links">
        <li>
          <a class="nav-link" href="https://codeberg.org/resol">
            <Icon icon="simple-icons:codeberg" :style="{ fontSize: '32px' }"/>
          </a>
        </li>
        <li v-show="loginData.authenticated">
          <button class="nav-link" @click="logout()">
            <Icon icon="material-symbols:logout" :style="{ fontSize: '32px' }"/>
          </button>
        </li>
      </ul>
    </nav>
  </header>
</template>

<style scoped>
  button {
    background-color: transparent;
    border: none;

    @media (hover: hover) {
      &:hover {
        background-color: transparent;
      }
    }
  }
</style>
