<script setup lang="ts">
  import { ref } from "vue";
  import { Icon } from "@iconify/vue";
  import "../styles/request.scss";

  const props = defineProps({
    description: String,
    requestType: String,
    requestUrl: String,
    dependsOn: String,
    showHeaders: {
      type: Boolean,
      required: false,
      default: true 
    },
    queryParameters: {
      type: Array,
      required: false,
      default: []
    },

    // Request details
    specifyAuthorization: {
      type: Number,
      required: false,
      default: 1,
    },
    specifySolUrl: {
      type: Number,
      required: false,
      default: 1,
    },
    specifyStudentId: {
      type: Number,
      required: false,
      default: 0,
    },
  })

  const textAreaResponse = ref("Run this command to see a response.")
  let btnDisabled = false;
  let rowsCount = 3;

  async function handleData() {
    textAreaResponse.value = "Waiting for a response..";
    btnDisabled = true;

    let query = new URLSearchParams();

    for (let map in props.queryParameters) {
      const key = (props.queryParameters[map] as any)[0];
      const val = (props.queryParameters[map] as any)[1];
      if (props.specifyStudentId == 1 && key == "studentId") {
        query.append(key, val);
        continue;
      }

      if (key == "studentId" && props.specifyStudentId == 0) continue;

      query.append(key, val);
    }

    const response = await fetch(`https://re-sol.tech${props.requestUrl}?${query}`, {
       // @ts-ignore 
      "headers": {
        "Authorization": props.specifyAuthorization == 1 ? getBasicAuth() : "",
        "sol-url": props.specifySolUrl == 1 ? localStorage.getItem("solUrl") : ""
      }
    });

    btnDisabled = false;

    const responseText = await response.json();
    textAreaResponse.value = responseText
    rowsCount = 20;
  }

  function getFromLocalStorage(key: string) {
    return localStorage.getItem(key)
  }

  function getBasicAuth(): string {
    return `Basic ${localStorage.getItem("authHeader")}`
  }
</script>

<template>
  <div class="request">
    <div class="top">
      <p class="http-type">{{ props.requestType }}</p>
      <p class="http-url">https://re-sol.tech{{ props.requestUrl }}</p>
    </div>
    <p id="request-description">{{ props.description }}</p>
    <div v-if="props.dependsOn" class="list">
      <h3>
        <Icon icon="octicon:package-dependents-24" />
        Depends on:
      </h3>
      <p>{{ props.dependsOn }}</p>
    </div>

    <div v-if="props.queryParameters.length != 0" class="list">
      <h3>
        <Icon icon="material-symbols:search" />
        Query parameters:
      </h3>
      <ul>
        <li v-for="(item, index) in props.queryParameters" v-bind:key="index">{{ item }}</li>
      </ul>
    </div>

    <div v-if="props.showHeaders" class="list">
      <h3>
        <Icon icon="icon-park-outline:list-top" />
        Headers:
      </h3>
      <ul>
        <li v-show="props.specifyAuthorization == 1">Authorization: {{ getBasicAuth() }}</li>
        <li v-if="props.specifySolUrl == 1">sol-url: {{ getFromLocalStorage("solUrl") }}</li>
      </ul>
    </div>

    <button id="execute-button" :disabled="btnDisabled" @click="handleData()">
      <Icon icon="codicon:run-above" />
      Execute
    </button>

    <textarea :rows="rowsCount" readonly>{{ textAreaResponse }}</textarea>
  </div>
</template>

<style scoped>
  button {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15pt;
    margin-bottom: 10px;
  }

  #request-description {
    margin-bottom: 10px;
  }
</style>
