<script setup lang="ts">
  import { store, loginData } from "../../store"
  import { fetchData, fillData } from "../../modules/Login.vue.ts"
  import "../../styles/common/forms.scss"

  fillData()
</script>

<template>
  <form @submit.prevent="fetchData()">
    <div>
        <input
          type="text"
          placeholder="Your username (for example 1.JanNovak)"
          v-model="store.username"
        />
    </div>
    <div>
      <input
        type="password"
        placeholder="Password"
        v-model="store.password"
      />
    </div>
    <div>
        <input
          type="text"
          placeholder="ŠOL instance (for example: https://skola.plzen-edu.cz)"
          v-model="store.solUrl"
        />
    </div>
    <button :disabled="loginData.loginDisabled" class="button-send" type="submit">Submit</button>
  </form>
</template>

<style scoped lang="scss">
  @import "../../style.scss";
  @import "../../styles/common/forms.scss";
  
  button:disabled {
    background-color: $color-surface-0;
  }

  input {
    width: 100%;
    padding: 10px;
    min-width: 700px;

    @media (max-width: 750px) {
      & {
        min-width: 550px;
      }
    }

    @media (max-width: 600px) {
      & {
        min-width: 300px;
      }
    }
  }
</style>
