<script setup>
  import { store, userData } from "../../store.ts"
  import { isAuthenticated } from "../../modules/authentication.ts";
  import Form from "./LoginForm.vue"
  import "../../styles/form-container.scss"

  if (isAuthenticated()) window.location.hash = "#/dashboard"
</script>

<template>
  <div class="form-container">
    <h1>Enter your credentials</h1>
    <Form />
    <p id="status">{{ store.status }}</p>
  </div>
</template>

<style scoped lang="scss">
  h1 {
    margin-bottom: 20px;
  }

  #status {
    margin-top: 20px;
    max-width: 60vw;
  }
</style>
