<script setup lang="ts">
import Home from './Home.vue';
import Dashboard from './Dashboard.vue';
import NotFound from './NotFound.vue';
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
import "./styles/header.scss"
import "./styles/footer.scss"
import "./styles/common/buttons.scss"
import { ref, computed } from 'vue';
import { isAuthenticated } from './modules/authentication';
import { loginData } from './store';

if (isAuthenticated()) loginData.authenticated = true;

const routes = {
  '/': Home,
  '/dashboard': Dashboard,
  '/404': NotFound,
}

const currentPath = ref(window.location.hash)

window.addEventListener('hashchange', () => {
  currentPath.value = window.location.hash
})

const currentView = computed(() => {
  // @ts-ignore
  return routes[currentPath.value.slice(1) || '/'] || NotFound
})

  //import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
  <Header />
  <component :is="currentView" />
  <Footer />
</template>

<style scoped>
</style>
