<script setup>
  import Request from "./components/Request.vue";
  import { isAuthenticated } from "./modules/authentication.ts";

  if (!isAuthenticated()) window.location.hash = "#/"

  const studentIdQuery = [["studentId", localStorage.getItem("studentId")]]
</script>

<template>
  <div class="requests">
    <Request requestType="GET" requestUrl="/api/v1/verify" description="Tries to log in as defined username and password"/>
    <Request requestType="GET" requestUrl="/api/v1/user" description="Gets user data" />
    <Request requestType="GET" requestUrl="/api/v1/messages" description="Gets received messages"/>
    <Request requestType="GET" requestUrl="/api/v1/recipients" description="Gets list of all teachers at the school"/>
    <Request requestType="GET" requestUrl="/api/v1/homework" dependsOn="/api/v1/user" v-bind:queryParameters=studentIdQuery specifyStudentId=1 description="Gets homework"/>
    <Request requestType="GET" requestUrl="/api/v1/grades" dependsOn="/api/v1/user" v-bind:queryParameters=studentIdQuery specifyStudentId=1 description="Gets grades"/>
    <Request requestType="GET" requestUrl="/api/v1/behavior" dependsOn="/api/v1/user" v-bind:queryParameters=studentIdQuery specifyStudentId=1 description="Gets behavior of the student"/>
    <Request requestType="GET" requestUrl="/api/v1/gradesFinal" dependsOn="/api/v1/user" v-bind:queryParameters=studentIdQuery specifyStudentId=1 description="Gets final grades"/>
    <Request requestType="GET" requestUrl="/api/v1/cache/clean" dependsOn="/api/v1/user" v-bind:queryParameters=studentIdQuery specifyStudentId=1 description="Gets final grades"/>
  </div>
</template>
