$color-background: #1e1e2e;
$color-text: #cdd6f4;
$color-surface-0: #313244;
$color-surface-1: #45475a;
$color-primary: #a6e3a1;
$color-danger: #f38ba8;
$color-blue: #89b4fa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: system-ui;
  background-color: $color-background;
  color: $color-text; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  padding-bottom: 70px;
}
